
.button {
    display: inline-flex;
    /* height: 40px;
    width: 150px; */
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  

  
#button-7 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #button-7 a {
    position: relative;
    left: 0;
    transition: all .35s ease-Out;
  }
  
  #dub-arrow {
    width: 100%;
    height: 100%;
    background: #BFC0C0;
    left: -200px;
    position: absolute;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease-Out;
    bottom: 0;
  }
  
  #button-7 img {
    width: 20px;
    height: auto;
  }
  
  #button-7:hover #dub-arrow {
    left: 0;
  }
  
  #button-7:hover a {
    left: 150px;
  }