@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-hover:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 2px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  @apply w-0 bg-orange-500 left-1/2 block bottom-0 absolute;
}
.animation-active:after {
  @apply left-0 w-full;
}
.animation-hover:hover:after {
  @apply left-0 w-full;
}
.pvl-btn:hover {
  background: linear-gradient(170deg, #a259ff 0%, #377df7 100%), #a259ff;
}
.user-timer {
  border-radius: 20px;
  background: rgba(59, 59, 59, 0.5);
  backdrop-filter: blur(5px);
}
